.deletebutton {
    display:inline-block;

}
.editbutton {
    display:inline-block;

}
.itemText {
    background-color: white; /* Green */
    border: 5px;
    border-color: black;
    border-style: solid;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;

}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}

input[type=text] {
    display: inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.savebutton{
    background-color: blue;
}
.addItemButton{
    background-color: blue;
}
